<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>记分板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72A7188D1E88BE4A00AF7EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A718A11E88BE4A00AF7EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A718AC1E88BE4A00AF7EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
